<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Custom Plunker</title>
    <!-- jQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Using Angular js-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="../Scripts/script-ng.js"></script>
</head>

<body ng-app ="GyaanCheck">
    <div class="col-lg-6 col-md-6 col-sm-6 jobs" ng-controller="getLeftPanel">
        <div class={{section.HeadingTheme}} ng-repeat="section in sections">
            <div class="panel-heading">
                <table class="table table-borderless">
                    <thead><tr><th colspan="2" style="text-align:left"><span class="glyphicon glyphicon-pushpin"></span>{{section.Title}}<small> Published On: {{section.PublishedOn}}</small></th></tr></thead>
                    <tbody>
                        <tr>
                            <td>Apply on or before: {{section.ApplicationEndDt}}</td>
                            <td align="right">
                                <a title="Download notification" target="_blank" href={{section.DetailedNotification}}><span class="glyphicon glyphicon-download"></span></a>
                                <a title="Go to site" target="_blank" href={{section.GoToSite}}><span class="glyphicon glyphicon-share"></span></a>
                                <br />
                                Application Fee: Rs.{{section.ApplicationFee}}/-
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center">Designation</th>
                            <th style="text-align:center">Number of posts</th>
                            <th style="text-align:center">Pay Scale(in Rs.)</th>
                            <th style="text-align:center">Grade Pay(in Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jobDetail in section.JobDetails">
                            <td style="text-align:left">{{jobDetail.Designation}}</td>
                            <td style="text-align:center">{{jobDetail.NoOfPosts}}</td>
                            <td style="text-align:center">{{jobDetail.PayScale}}</td>
                            <td style="text-align:center">{{jobDetail.GradePay}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 jobs" ng-controller="getRightPanel">
        <div class={{section.HeadingTheme}} ng-repeat="section in sections">
            <div class="panel-heading">
                <table class="table table-borderless">
                    <thead><tr><th colspan="2" style="text-align:left"><span class="glyphicon glyphicon-pushpin"></span>{{section.Title}}<small> Published On: {{section.PublishedOn}}</small></th></tr></thead>
                    <tbody>
                        <tr>
                            <td>Apply on or before: {{section.ApplicationEndDt}}</td>
                            <td align="right">
                                <a title="Download notification" target="_blank" href={{section.DetailedNotification}}><span class="glyphicon glyphicon-download"></span></a>
                                <a title="Go to site" target="_blank" href={{section.GoToSite}}><span class="glyphicon glyphicon-share"></span></a>
                                <br />
                                Application Fee: Rs.{{section.ApplicationFee}}/-
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center">Designation</th>
                            <th style="text-align:center">Number of posts</th>
                            <th style="text-align:center">Pay Scale(in Rs.)</th>
                            <th style="text-align:center">Grade Pay(in Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jobDetail in section.JobDetails">
                            <td style="text-align:left">{{jobDetail.Designation}}</td>
                            <td style="text-align:center">{{jobDetail.NoOfPosts}}</td>
                            <td style="text-align:center">{{jobDetail.PayScale}}</td>
                            <td style="text-align:center">{{jobDetail.GradePay}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>
</html>